<div class="container">
    <mat-form-field appearance="fill" class="login-inout">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username" (keydown.enter)="uiservice.tryLogin(username, password)">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="login-inout">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password" (keydown.enter)="uiservice.tryLogin(username, password)">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" class="login-inout button" (click)="uiservice.tryLogin(username, password)">Login</button>
    <br>
    <button mat-raised-button color="basic" class="login-inout button" (click)="uiservice.addUser()">Register</button>
</div>